$input-height: 75px;
$button-icon: #b79ace;
$button-color: #fff0f0;

.input-section {
  width: 100%;
  position: absolute;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
  background-color: white;

  &__sing-in {
    height: $input-height;
    display: flex;
  }

  &__searching {
    height: $input-height * 7;
  }

  &.folded {
    margin-top: 10px;
    z-index: 1;

    input {
      background-color: rgb(233, 226, 192);
    }

    span {
      background-color: rgb(233, 226, 192);
    }
  }

  &.folded + .folded {
    width: 90%;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;

    input {
      background-color: rgb(225, 188, 239);
    }

    span {
      background-color: rgb(225, 188, 239);
    }
  }

  &.fold-up {
    margin-top: -$input-height;
  }
}

form input {
  background: lighten(rgb(243, 243, 251), 5%);
  color: black;
  width: 80%;
  border: 0;
  padding: 20px 40px;
  margin: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgb(80, 80, 80);
    font-weight: 100;
  }
}

.animated-button {
  width: 20%;
  background-color: $button-color;

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: $input-height;
    text-align: center;
    height: $input-height;
    transition: all 0.2s ease-in;

    i {
      font-size: 25px;
      color: $button-icon;
    }
  }

  .next-button {
    background: transparent;
    color: $button-icon;
    font-weight: 100;
    width: 100%;
    border: 0;
  }
}

.next {
  margin-top: -$input-height;
}
